<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>
  <style>  h1{color:#2F5780; font: 30px Verdana}
p{font: 18px Veranda}
body{color: black}
table{color:black}
a{color:black}
h3{color:#2F5780; font: 20px Veranda, sans-serif}
button{color:#2F5780;padding:1px 15px;font: 16px Veranda}</style>
   <body style="background-color:powderblue;">
  <div align= "center">
  <h1>Biographies</h1>
  
<h3>Made by Gabby, Anna, Olivia, and Megan from Kode with Klossy in Raleigh 2018</h3>
</div>
<p>Anna:
 Hi my name is Anna. I am about to be 15 years-old and going into 9th grade. A few fun facts about me are that I’ve been playing ice hockey since I was 9. I also have a ton of fun socks and absolutely love to travel.</p>
<br>
<div></div>
<p>Gabby: 
Hi my name is Gabby. I am 15 years-old and am going into my sophomore year in high school. A few fun facts are I started playing golf when I was 4 and I am now on my high school team. I also love musicals, plays and ballets. </p>
<br>
<div></div>


<p>Olivia:
Hey y’all! My name is Olivia, I’m 18 years old and will be attending the University of Cincinnati in the Fall! I will be majoring in English and minoring in Spanish and Computer Science. I love writing, traveling and swing dancing! </p>
<br>
<div></div>

<p>Megan:
Hey hey! My name is Megan and I am 15 years old. I currently go to Cary High School and I am going into 10th grade. I love to jumprope and draw, I hope you enjoy our website!!</p>
<br>
<div></div>
<div align = "center">
  <button type="submit" class="new"><a href="/">Back to Home</a></button>
</div>
     <div align = "center">
       <div></div>
       <br>
       
 <img src= "https://files.slack.com/files-pri/TB200QLDV-FC11E42KV/2018-08-01-16-07-59-786.jpg"
      height= 300>
</body>
</html>