  <style>
  .tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;

}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 173.5px;
    transition: 0.5s;

}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: violet;
   padding: 25px 173.5px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: pink;
 
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none; 
 
}

button { font: 20px Verdana, Sans-serif;
  color: white
}

body {
  background-color: black;
  background-image: url("http://cdn.wallpapersafari.com/43/48/rxLvHK.jpg")
}



hr.style {
    border: 0;
    height: 9px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-color: magenta
}

h1 {
  font: 30px Verdana;
    color: white
}
p {
  font: 17px Verdana;
  color:white
}
h2{
  font: 15px Verdana;
  color: white
}
.quiz button {
   background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 439px;
    transition: 0.5s;
  text-align:center
}
.quiz button:hover {
    background-color: violet;
   padding: 25px 439px;
}

/* Create an active/current tablink class */
.quiz button.active {
    background-color: pink;
  text-align: center
}
.quiz {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;
    text-align: center
}
.textbox {
    border: 4px violet;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: black;
    
}

.white {
  color: white;
}
a {
  color: white;
}
</style>
   <body style="background-color:black;">
          <div align= "center">
      <img src="https://scontent-ort2-1.cdninstagram.com/vp/6993515168c5d16ff1d4d8f2448894dc/5C0B5196/t51.2885-15/e35/s320x320/37717442_214140015944262_8761144366514307072_n.jpg?ig_cache_key=MTgzNzM0NjMwNDI4MDc0NzQzNA%3D%3D.2">
      <br>
  <br>
  <br>
  <div class="tab">
   
  <button class="tablinks"><a class ="white"href='/quiz'>Quiz</a></button>

    
  <button class="tablinks"><a class = "white" href='/biographies'>Biography</a></button>
    
  <button class="tablinks"><a class ="white" href='/coding'>Coding</a></button>

    <button class="tablinks"><a class ="white" href='/'>Home</a></button>
    </div>

            
            <div class= "textbox">
              
              
             <hr class=style>
              <h1>Coding:</h1>
              <hr class=style>
              <h1>Ruby</h1>
              <p>-	In ruby we needed to create a formula that would take the answers that our quiz gave it and give us the appropriate page.</p>
<p>-	What we did was make a lines of code stating that when the final numbers from the quiz where entered if it was within a certain range of numbers to give the corresponding volunteer page for that range.</p>
<p>-	However, we ran into a roadblock when we discovered that coding for a range would work for two of our volunteer pages but not for all. Instead, we took our lines a specified the numbers we wanted to correlate to the individual volunteer pages, thus solving our issue.</p>
              <hr class=style>
              
<h1>Sinatra</h1>
              <p>-	When it came to Sinatra we started with a basic form and added on the more and more based on need.</p>
<p>-	One of the first extra bits Sinatra we added came when we added a home page and needed to get from one page to the next.</p>
              <p>-	We also need to add extra Sinatra to get the buttons working the way we wanted them.</p>
              <hr class=style>
              <h1>Html/Css</h1>
              <p>- Css and html are the most creative spaces in code so we wanted to spend a lot of time working on the website's "flare"</p>
             <p>- We worked on a website and uploaded it thinking we were finished, but we realized coding is all about building your website up. So we kept improving the site because we were not to happy with it at first</p>
              <p> - The website w3schools.com was very helpful doing the css and html</p>
              <p>- The hardest part was getting the tabs and buttons to work and be even on the page</p>
              <hr class=style>
              
              <h1>Original Website</h1>
              <p>Here is the original website link so you can compare!</p>
              <a
              href= "https://volunteer-queens.herokuapp.com/quiz">Volunteer Queens</a>
              <hr class=style>