<!doctype html>
<html>
  <head>
    <title>Cooking</title>
    <body>
      <body style="background-color:powderblue;">
      <div align= "center">
     <style>
    h1{color:#2F5780; font: 30px Verdana}
p{font: 18px Veranda}
body{color: black}
table{color:black}
a{color:black}
h3{color:#2F5780; font: 20px Veranda, sans-serif}
  </style>
  
      <h1>You got food and cooking volunteering!</h1>
      <img src="https://media.giphy.com/media/HsAsOUJEYgyFa/giphy.gif">
      <h3>Shepard's Table</h3>
      <p> Prep, serve and clean up food at this welcoming soup kitchen!</p>
      <a href= "http://www.shepherds-table.org/volunteer/">Soup Kitchen</a>
      <h3>Food bank of Central and Eastern North Carolina</h3>
      <p> Sort and package food in their warehouse to be sent to food insecure families!</p>
      <a 
      href= "http://www.foodbankcenc.org/site/PageServer?pagename=getinvolved_volunteer">Fook Bank</a>
      <h3>Ronald McDonald House in Durham</h3>
      <p> You bring the ingredients but Ronald McDonald House provides the machinery! Perfect for families and groups of friends!</p>
      <a 
      href= "https://www.rmhdurhamwake.org/baking/">Ronald McDonald</a>
      <br>
      <h3>Doing Good Together</h3>
     <p/> Volunteer to cook and serve a meal at a homeless shelter. </p>
     <a
     href = “https://www.doinggoodtogether.org/bhf/cook-a-meal-at-a-shelter/”>Doing Good</a>
      </div>
    </body>
  </head>
</html>
