<!doctype html>
<html>
  <head>
    <title>Cooking</title>
    <body>
      <body style="background-color:powderblue;">
      <div align= "center">
     <style>
   .tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;

}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 201px;
    transition: 0.5s;

}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: violet;
   padding: 25px 201px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: pink;
 
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none; 
 
}

button { font: 20px Verdana, Sans-serif;
  color: white
}

body {
  background-color: black;
  background-image: url("http://cdn.wallpapersafari.com/43/48/rxLvHK.jpg")
}



hr.style {
    border: 0;
    height: 9px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-color: magenta
}

h1 {
  font: 30px Verdana;
    color: white
}
p {
  font: 17px Verdana;
  color:white
}
h2{
  font: 15px Verdana;
  color: white
}
h3{
  font: 20px Verdana;
  color: violet;
}
.quiz button {
   background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 439px;
    transition: 0.5s;
  text-align:center
}
.quiz button:hover {
    background-color: violet;
   padding: 25px 439px;
}

/* Create an active/current tablink class */
.quiz button.active {
    background-color: pink;
  text-align: center
}
.quiz {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;
text-align: center
}
.textbox {
    border: 4px violet;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: black;
    
}
a {
  color: white;
}


  </style>
   <img src="https://scontent-ort2-1.cdninstagram.com/vp/6993515168c5d16ff1d4d8f2448894dc/5C0B5196/t51.2885-15/e35/s320x320/37717442_214140015944262_8761144366514307072_n.jpg?ig_cache_key=MTgzNzM0NjMwNDI4MDc0NzQzNA%3D%3D.2">
  <div class= "textbox">
    <hr class= style>
      <h1>You got food and cooking volunteering!</h1>
      <img src="https://media.giphy.com/media/HsAsOUJEYgyFa/giphy.gif">
      <h3>Shepard's Table</h3>
      <p> Prep, serve and clean up food at this welcoming soup kitchen!</p>
      <a href= "http://www.shepherds-table.org/volunteer/">Soup Kitchen</a>
      <h3>Food bank of Central and Eastern North Carolina</h3>
      <p> Sort and package food in their warehouse to be sent to food insecure families!</p>
      <a 
      href= "http://www.foodbankcenc.org/site/PageServer?pagename=getinvolved_volunteer">Food Bank</a>
      <h3>Ronald McDonald House in Durham</h3>
      <p> You bring the ingredients but Ronald McDonald House provides the machinery! Perfect for families and groups of friends!</p>
      <a 
      href= "https://www.rmhdurhamwake.org/baking/">Ronald McDonald</a>
      <br>
      <h3>Doing Good Together</h3>
     <p/> Volunteer to cook and serve a meal at a homeless shelter. </p>
     <a
     href = “https://www.doinggoodtogether.org/bhf/cook-a-meal-at-a-shelter/”>Doing Good</a>
     
<br>
<hr class=style>
     <div align = "center">
    <button type = "submit" class="quiz"><a class ="white"href='/'>Back To Home</a></button>
    <hr class=style>
</div>
      </div>
    </body>
  </head>
</html>
