<!doctype html>
<html>~
  <head>
    <title>Cooking</title>
    <body>
      <h1>You got, food/cooking volunteering!</h1>
      <img src="https://media.giphy.com/media/HsAsOUJEYgyFa/giphy.gif">
      <h3>Shepard's Table</h3>
      <p>"http://www.shepherds-table.org/volunteer/" Prep, serve and clean up food at this welcoming soup kitchen!</p>
      <h4>Food bank of Central and Eastern North Carolina</4>
      <p>"http://www.foodbankcenc.org/site/PageServer?pagename=getinvolved_volunteer" Sort and package food in their warehouse to be sent to food insecure families!</p>
      <h5>Ronald McDonald House in Durham</h5>
      <p>"https://www.rmhdurhamwake.org/baking/" You bring the ingredients but Ronald McDonald House provides the machinery! Perfect for families and groups of friends!</p>
      
    </body>
  </head>
</html>
 <style>
    h1{color:magenta; font: 30px Verdana}
p{font: 18px Veranda}
body{color:gray}
table{color:black}
a{color:black}
h3{color:magenta; font: 20px Veranda}
  </style>