<!DOCTYPE html>
<html lang="en">
<head>
  <title>Environment</title>
</head>
<body>
  <style>
    h1{color:magenta; font: 30px Verdana}
p{font: 18px Veranda}
body{color:gray}
table{color:black}
a{color:black}
h3{color:magenta; font: 20px Veranda}
  </style>
  
  <h1>You got Environment and Animals Volunteering</h1>
  <br>
  <img src="https://media.giphy.com/media/l1KVcrdl7rJpFnY2s/giphy.gif">
  <br>
  <h3>Recycling Pickup</h3>
  <p>Spend some time to go around your community and pick up trash, then go and sort your trash into recycling and throw away piles. Below is the link if you need to the contact curbside collection services in each city in Wake County. </p>
  <a
  href= "http://www.wakegov.com/recycling/recycle/Pages/curbside.aspx">Contact Info</a>
  <br>
  <h3>Cuddling Goats</h3>
  <p>Hux Family Farm would like volunteers to cuddle baby goats! This is to train the goats to be around humans.</p>
  <a
  href= "http://www.charlottestories.com/north-carolina-farm-needing-volunteers-to-cuddle-with-baby-goats/">Hux Family Farm</a>
  <br>
  <h3>SPCA</h3>
<p>An animal shelter in Wake County, you work 25 hours each year and you have to be 18 or older to volunteer got o this link to find out more about how you can help
<a 
href= "https://spcawake.org/get-involved/volunteer/">SPCA</a>


