<!DOCTYPE html>
<html lang="en">
<head>
  <title>Environment</title>
</head>
<body>
  <body style="background-color:powderblue;">
  <div align = "center">
  <style>
 .tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;

}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 201px;
    transition: 0.5s;

}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: violet;
   padding: 25px 201px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: pink;
 
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none; 
 
}

button { font: 20px Verdana, Sans-serif;
  color: white
}

body {
  background-color: black;
  background-image: url("http://cdn.wallpapersafari.com/43/48/rxLvHK.jpg")
}



hr.style {
    border: 0;
    height: 9px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-color: magenta
}

h1 {
  font: 30px Verdana;
    color: white
}
p {
  font: 17px Verdana;
  color:white
}
h2{
  font: 15px Verdana;
  color: white
}
h3{
  font: 20px Verdana;
  color: violet;
}
.quiz button {
   background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 439px;
    transition: 0.5s;
  text-align:center
}
.quiz button:hover {
    background-color: violet;
   padding: 25px 439px;
}

/* Create an active/current tablink class */
.quiz button.active {
    background-color: pink;
  text-align: center
}
.quiz {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;
text-align: center
}
.textbox {
    border: 4px violet;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: black;
    
}
a {
  color: white;
}

  </style>
 
    <img src="https://scontent-ort2-1.cdninstagram.com/vp/6993515168c5d16ff1d4d8f2448894dc/5C0B5196/t51.2885-15/e35/s320x320/37717442_214140015944262_8761144366514307072_n.jpg?ig_cache_key=MTgzNzM0NjMwNDI4MDc0NzQzNA%3D%3D.2">
  <div class="textbox">
    <hr class=style>
  <h1>You got Environment and Animals Volunteering</h1>
  <br>
  <img src="https://media.giphy.com/media/l1KVcrdl7rJpFnY2s/giphy.gif">
  <br>
  <h3>Recycling Pickup</h3>
  <p>Spend some time to go around your community and pick up trash, then go and sort your trash into recycling and throw away piles. Below is the link if you need to the contact curbside collection services in each city in Wake County. </p>
  <a
  href= "http://www.wakegov.com/recycling/recycle/Pages/curbside.aspx">Contact Info</a>
  <br>
  <h3>Cuddling Goats</h3>
  <p>Hux Family Farm would like volunteers to cuddle baby goats! This is to train the goats to be around humans.</p>
  <a
  href= "http://www.charlottestories.com/north-carolina-farm-needing-volunteers-to-cuddle-with-baby-goats/">Hux Family Farm</a>
  <br>
  <h3>SPCA</h3>
<p>An animal shelter in Wake County, you work 25 hours each year and you have to be 18 or older to volunteer got o this link to find out more about how you can help
<a 
href= "https://spcawake.org/get-involved/volunteer/">SPCA</a>
<br>
<h3>Wake Forest Tree Planting</h3>
<p>Help replenish the amount of trees in wake county!</p>
<a 
href= "https://www.wakeforestnc.gov/volunteer-opportunities.aspx">Tree Planting</a>
<hr class=style>
<div></div>

<div align = "center">
  <button type = "submit" class="quiz"><a class ="white"href='/'>Back To Home</a></button>
<hr class=style>
</div>



