<!DOCTYPE html>
<html>
  <head>
    <title>Helping_People</title>
  </head>
  <body>
    <body style="background-color:powderblue;">
    <div align = "center">
     <style>
      h1{color:#2F5780; font: 30px Verdana}
p{font: 18px Veranda}
body{color: black}
table{color:black}
a{color:black}
h3{color:#2F5780; font: 20px Veranda, sans-serif}
  </style>
  <h1>You Got Helping People</h1>
  <img src =https://media.giphy.com/media/Id6RRFgZ3HGaQ/giphy.gif>
  
  <h3>Zachary's Toy Chest</h3>
  <p>This organization holds toy drives to give sick kids in hospitals fun toys to play with. This great for all ages and people who love kids.</p>
  <a href= "http://zachstoychest.org/">Zachary's Toy Chest </a>
  
  <h3>Project Linus</h3>
  <p>This charity helps make wonderful blankets for kids in need to help them get through hard times.
  This is wonderful for all ages and really fun.</p>
  <a href= "https://www.projectlinus.org//">Project Linus </a>
  
  <h3>YMCA Volunteer or CILT</h3>
  <p>This is for teens that really like kids and leadership opertunitys.You train to be a counselor through fun times.</p>
  <a href= "https://www.ymcatriangle.org/programs-services/volunteer-y/">YMCA </a>
  </div>
  </body>
</html>
