<!DOCTYPE html>
<html>
  <head>
    <title>Helping_People</title>
  </head>
  <body>
    <body style="background-color:powderblue;">
    <div align = "center">
     <style>
  .tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;

}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 201px;
    transition: 0.5s;

}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: violet;
   padding: 25px 201px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: pink;
 
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none; 
 
}

button { font: 20px Verdana, Sans-serif;
  color: white
}

body {
  background-color: black;
  background-image: url("http://cdn.wallpapersafari.com/43/48/rxLvHK.jpg")
}



hr.style {
    border: 0;
    height: 9px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-color: magenta
}

h1 {
  font: 30px Verdana;
    color: white
}
p {
  font: 17px Verdana;
  color:white
}
h2{
  font: 15px Verdana;
  color: white
}
h3{
  font: 20px Verdana;
  color: violet;
}
.quiz button {
   background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 439px;
    transition: 0.5s;
  text-align:center
}
.quiz button:hover {
    background-color: violet;
   padding: 25px 439px;
}

/* Create an active/current tablink class */
.quiz button.active {
    background-color: pink;
  text-align: center
}
.quiz {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;
text-align: center
}
.textbox {
    border: 4px violet;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: black;
    
}
a {
  color: white;
}

  </style>
   <img src="https://scontent-ort2-1.cdninstagram.com/vp/6993515168c5d16ff1d4d8f2448894dc/5C0B5196/t51.2885-15/e35/s320x320/37717442_214140015944262_8761144366514307072_n.jpg?ig_cache_key=MTgzNzM0NjMwNDI4MDc0NzQzNA%3D%3D.2">
  <div class="textbox">
    
    <hr class=style>
  <h1>You Got Helping People</h1>
  <img src =https://media.giphy.com/media/Id6RRFgZ3HGaQ/giphy.gif>
  
  <h3>Zachary's Toy Chest</h3>
  <p>This organization holds toy drives to give sick kids in hospitals fun toys to play with. This great for all ages and people who love kids.</p>
  <a href= "http://zachstoychest.org/">Zachary's Toy Chest </a>
  
  <h3>Project Linus</h3>
  <p>This charity helps make wonderful blankets for kids in need to help them get through hard times.
  This is wonderful for all ages and really fun.</p>
  <a href= "https://www.projectlinus.org//">Project Linus </a>
  
  <h3>YMCA Volunteer or CILT</h3>
  <p>This is for teens that really like kids and leadership opertunitys.You train to be a counselor through fun times.</p>
  <a href= "https://www.ymcatriangle.org/programs-services/volunteer-y/">YMCA </a>
  <br>
  <h3>Raleigh Rescue Mission</h3>
  <p>This charity helps people through programs and food drives. They have programs for all ages.</p>
  <a href= "http://www.raleighrescue.org/get-involved/volunteer//">RaleighResuceMission </a>
  <br>
  <h3>Rex VolunTEEN</h3>
  <p>This charity allows teens in Wake County a chance to serve their community and explore what a career in the medical field would be like.</p>
<a 
href= "https://www.rexhealth.com/rh/volunteer/">Rex VolunTeen</a>
  
<br>
  
  <hr class=style>
  <div align = "center">
  <button type = "submit" class="quiz"><a class ="white"href='/'>Back To Home</a></button>
<hr class= style>
</div>
  </body>
</html>
