<!DOCTYPE html>
<html>
  
  <head>
    <title>Sample Quiz</title>
  </head>
  
  <body>
    <h1>Volunteer Quiz</h1>
    <p>Find out what volunteering best suits you in the Wake County area
    <form action="/results" method="post">
      
      <h2>What do you like to do in your freetime?</h2>
      <input type="radio" name="option" value="4">Cooking 
      <input type="radio" name="option" value="2">Walk my dog
      <input type="radio" name="option" value="3">Hang out with friends
      <input type="radio"
name="option" value="1">Play sports
      
      <h2>Do you know how to cook?</h2>
      <input type="radio" name="cook" value="4">Yes
      <input type="radio" name="cook" value="2">No
      
      <h2>Would you rather do something more active or more sedintary?</h2>
      <input type="radio" name="code" value="2">Active
      <input type="radio" name="code" value="4">Sedintary
      <h2>Do you enjoy indoor or outdoor events more?</h2>
      <input type="radio" name="code" value="4">Indoor
      <input type="radio" name="code" value="2">Outdoor
      <h2>Do you like kids?</h2>
      <input type="radio" name="code" value="2">Yes
      <input type="radio" name="code" value="4">No
      <br>
      <br>
      <div>
      <button type="submit" class="new">Submit</button>
        <div>
          <br>
          <br>
        <img src= "https://media.giphy.com/media/aQYR1p8saOQla/giphy.gif"
      
    </form>
  </body>
  
</html>

