
<!DOCTYPE html>


<html>
<head>
  <body>
    <style>
    h1{color:#2F5780; font: 30px Verdana}
p{font: 18px Veranda}
body{color: black}
table{color:black}
a{color:black}
h3{color:#2F5780; font: 20px Veranda, sans-serif}
button{color:#2F5780;padding:1px 15px;font: 16px Veranda}

  </style>
    <body style="background-color:powderblue;">
    <div align = "center">
      
<img src = "https://scontent-ort2-1.cdninstagram.com/vp/33aa5e9f3da3903780db27e41aedcf39/5BF4CCD6/t51.2885-15/e35/s320x320/37591058_223753805140351_5501729844909572096_n.jpg?ig_cache_key=MTgzNzEzNTg5OTMzNTcwNjUzNQ%3D%3D.2" height= 300 width= 400>


<h1>Welcome To Volunteer Queens!</h1>
<h3>Our Mission</h3>
<p>We wanted to make a  where teens in Wake County could take a quiz and find the perfect type of volunteering for them. We want to make volunteering fun and not a chore.</p>

<br>
<div></div>

<div align = "center">
<button type="submit" class="new"><a href="/quiz">Quiz</a></button>
<button type="submit" class="new"><a href="/biographies">Biography</a></button>
</div>

</body>
</head>
</html>