<!DOCTYPE html>
<html>
<head>
  <title>Sports Page</title>
</head>
<body>
  <div align = "center">
   <style>
      h1{color:#2F5780; font: 30px Verdana}
p{font: 18px Veranda}
body{color: black}
table{color:black}
a{color:black}
h3{color:#2F5780; font: 20px Veranda, sans-serif}
button{color:#2F5780;padding:1px 15px;font: 16px Veranda}
  </style>
  <body style="background-color:powderblue;">
<h1>You Got Sports Volunteering!</h1>
<img src=https://media.giphy.com/media/QsOrQdfBA7FrG/giphy.gif>
<h3>Miracle League</h3>
<p>Spend some time teaching special needs kids how to play baseball. It not only enriches their day but yours as well! No prior baseball experience necessary.</p>
<a 
href="http://miracleleagueofthetriangle.com/">Miracle League</a>
<h3>Special Olympics</h3>
<p>Spend your time helping special needs athletes enjoy a range of sports and all they have to offer!</p>
<a 
href="https://www.specialolympics.org/> Special Olympics">Special Olympics</a>
<h3>Charity Walks</h3>
<p>Now matter what the cause might be, walk to support it!</p>
<a 
href="http://www.carolinaparent.com/CP/Charity-Walks-Runs-in-the-Triangle/">Find your next run</a> 
<div></div>
<br>
<div align = "center">
  <button type="submit" class="new"><a href="/">Back to Home</a></button>
</div>
</div>
</body>
</html>

