<!DOCTYPE html>
<html>
<head>
  <title>Sports Page</title>
</head>
<body>
<h1>You Got Sports Volunteering!</h1>
<img src=https://media.giphy.com/media/QsOrQdfBA7FrG/giphy.gif>
<h3>Miracle League</h3>
<p>Spend some time teaching special needs kids how to play baseball. It not only enriches their day but yours as well! No prior baseball experience necessary.</p>
<a herf=http://miracleleagueofthetriangle.com/>Visit Miracle League!</a>
<h3>Special Olympics</h3>
<p>Spend your time helping special needs athletes enjoy a range of sports and all they have to offer!</p>
<a herf=https://www.specialolympics.org/>Visit Special Olympics!</a>
<h3>Charity Walks</h3>
<p>Now matter what the cause might be, walk to support it!</p>
<a herf=http://www.carolinaparent.com/CP/Charity-Walks-Runs-in-the-Triangle/>Find your next run</a> 
</body>
</html>
 <style>
    h1{color:magenta; font: 30px Verdana}
p{font: 18px Veranda}
body{color:gray}
table{color:black}
a{color:black}
h3{color:magenta; font: 20px Veranda}
  </style>
