<!DOCTYPE html>
<html>
<head>
  <title>Sports Page</title>
</head>
<body>
  <div align = "center">
   <style>
  .tab {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;

}
/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 201px;
    transition: 0.5s;

}


/* Change background color of buttons on hover */
.tab button:hover {
    background-color: violet;
   padding: 25px 201px;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: pink;
 
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px solid #ccc;
    border-top: none; 
 
}

button { font: 20px Verdana, Sans-serif;
  color: white
}

body {
  background-color: black;
  background-image: url("http://cdn.wallpapersafari.com/43/48/rxLvHK.jpg")
}



hr.style {
    border: 0;
    height: 9px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-color: magenta
}

h1 {
  font: 30px Verdana;
    color: white
}
p {
  font: 17px Verdana;
  color:white
}
h2{
  font: 15px Verdana;
  color: white
}
.quiz button {
   background-color: magenta;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 439px;
    transition: 0.5s;
  text-align:center
}
.quiz button:hover {
    background-color: violet;
   padding: 25px 439px;
}

/* Create an active/current tablink class */
.quiz button.active {
    background-color: pink;
  text-align: center
}
.quiz {
    overflow: hidden;
    border: 0px solid #ccc;
    background-color: black;
text-align: center
}
.textbox {
    border: 4px violet;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: black;
    
}

  </style>
  <body style="background-color:powderblue;">
<h1>You Got Sports Volunteering!</h1>
<img src=https://media.giphy.com/media/QsOrQdfBA7FrG/giphy.gif>
<h3>Miracle League</h3>
<p>Spend some time teaching special needs kids how to play baseball. It not only enriches their day but yours as well! No prior baseball experience necessary.</p>
<a 
href="http://miracleleagueofthetriangle.com/">Miracle League</a>
<h3>Special Olympics</h3>
<p>Spend your time helping special needs athletes enjoy a range of sports and all they have to offer!</p>
<a 
href="https://www.specialolympics.org/> Special Olympics">Special Olympics</a>
<h3>Charity Walks</h3>
<p>Now matter what the cause might be, walk to support it!</p>
<a 
href="http://www.carolinaparent.com/CP/Charity-Walks-Runs-in-the-Triangle/">Find your next run</a> 
<div></div>
<br>
<div align = "center">
  <button type="submit" class="new"><a href="/">Back to Home</a></button>
</div>
</div>
</body>
</html>

